/* Stylesheet */


body {
	background: url("../img/bg.png");
	
}


p, h3{
	font-family: 'Allerta', sans-serif;
}


h3 {
	text-transform: uppercase;
} 


li {
  
  float: left;
  line-height: 50px;
  list-style: none;
	margin: 0 5px;
  text-align: right;
  
}

a {
 
  color: #fff;
  display: block;
  height: 50px;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
}

a:hover {
  background: ;
  
}

blockquote {
	
	text-align: center;
}

.container_12 {
	background: #FCC;
}

footer {
	background: #963;
}

section {
	background: #CCC;
}


